
button {
  margin-top: 10px;
}

div.row {
  margin-top: 10px;
}

mat-grid-list {
  margin: 5px;
}

/* mat-grid-tile {
  border: 2px solid black;
} */

.center {
  display: flex;
  justify-content: center;
}

h1 { font-size: 44px; }
h2 { font-size: 28px; }
h3 { font-size: 20px; }
h4 { font-size: 14px; }

.chart {
  margin-bottom: 2em;
}

div.spacer {
  margin-bottom: 2em;
  width:50%;
}

p {
  margin-left: 10px;
  font-weight: bold;
}
