
<div class="row">
  <div class="col-md-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Song <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditSong()">Edit Song</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteSong()">Delete Song</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 chart" [style.background]="song.meta.background">
    <br/>
    <h1 class="center" [style.color]="song.meta.fontcolor">{{ song.title }} ({{ song.key }})</h1>
    <h3 class="list-group-item-heading center" [style.color]="song.meta.fontcolor">{{ song.composer }}</h3>
    <h2 class="center" [style.color]="song.meta.fontcolor">{{ song.meta.form }}</h2>
    <mat-grid-list cols="8" columnWidth="100px" rowHeight="100px" gutterSize="5px">
      <div *ngFor="let measureChords of song.data;let tIndex=index;">
        <mat-grid-tile [style.background]="song.meta.color">
          <app-measure measureNumber="{{ tIndex +1 }}" cellChords="{{ measureChords }}" fontColor="{{song.meta.fontcolor}}"></app-measure>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
    <div class="col-md-12">
      <h4 class="list-group-item-heading" [style.color]="song.meta.fontcolor">{{ song.meta.description }}</h4>
    </div>
  </div>
  <div class="spacer">
    <p>Data</p>
    <pre>{{ getData() | json }}</pre>
  </div>
  <div class="spacer">
    <br/>
    <p>Meta</p>
    <pre>{{ getMeta() | json }}</pre>
  </div>
</div>

